[Unit]
Description=Run WeatherEdge Hong Kong finalizer every day

[Timer]
OnCalendar=hourly
RandomizedDelaySec=180
Persistent=true
Unit=weather-edge-hko-finalizer.service

[Install]
WantedBy=timers.target
